*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}

body{
    background-color: cornflowerblue;
}

div {
    border: 2px solid red;
    margin: 3rem;
    padding: 2rem;
}

button {
    margin: 0.5rem;
    padding: 0.5rem;
    border: 0px solid transparent;
    border-radius: 1rem;
}

